<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
    <listener class-name="com.abby.qa.listeners.MyListeners"></listener>
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.abby.qa.testcases.LoginTest"/>
      <class name="com.abby.qa.testcases.SearchTest"/>
      <class name="com.abby.qa.testcases.RegisterTest"/>
      <class name="com.abby.qa.testcases.LogoutTest"/>
      <class name="com.abby.qa.testcases.AddToCart"/>
      <class name="com.abby.qa.testcases.Shopping_Cart"/>
      <class name="com.abby.qa.testcases.Demo"/>
      <class name="com.abby.qa.testcases.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
